/.idea/modules.xml
/.idea/Python.Udemy.Complete_Python_BootCamp.iml
/SetUp_Notes.txt
/.idea/vcs.xml
/.idea/workspace.xml
/section_2_notes.txt
/section_1_notes.txt
/.ipynb_checkpoints/
/Python_BootCamp_Short_Notes.txt
/Sublime_Scripts/.ipynb_checkpoints/
