*.idea
*.iml
*.ipynb_checkpoints

#ignore all .iml
/Course_Overview/Curriculum_Overview.txt
/Course_Overview/Course_Overview_ShortNotes.txt
/complete-python-3-bootcamp-master/
/CourseNoteBook/
/notes/
